PORT=5001
DB_HOST=postgres
DB_USER=admin
DB_PASSWORD=password
DB_NAME=ai_assistant
DB_PORT=5432
JWT_SECRET=supersecretkey
MONGO_URI=mongodb://mongo:27017/ai_assistant
RABBITMQ_URL=amqp://rabbitmq
CHROMA_URL=http://chroma:8000

# LLM Provider Configuration
# Options: gemini | openai | ollama
LLM_PROVIDER=gemini

# If uing gemini
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=gemini-2.5-flash
GEMINI_EMBED_MODEL=gemini-embedding-001

# If using OpenAI
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBED_MODEL=text-embedding-3-small

# If using Ollama (Local)
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=llama3
OLLAMA_EMBED_MODEL=nomic-embed-text
